.site-header {
    margin: 50px 0;
    background-color: #fff;
}

.main-navigation ul {
    background-color: transparent;
    display: grid;  /*wtf. pausi ajal muutus main menu display none-ks milelgipärast?? */
}
.main-navigation a {
    font-family: var(--font-headings);
    font-size: 22px;
    color: black;
    text-align: center;
    white-space: nowrap;
    margin: 0 20px;

}


li {
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--color-body);
    font-family: var(--font-main);
}


li {
    margin-bottom: 0;
    list-style-position: outside;
}


// // set main content width
// .site-main {
//     width: 100%;
//     max-width: 96rem;
//     margin: 0 auto;
// }


.site-footer {
    background: rgb(255, 132, 124) none repeat scroll 0% 0%;
    padding: 10px;
}





/* teenuste card */
.card-wrapper {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    display: grid;
    gap: 6rem;
    grid-template-columns: repeat(auto-fit,43rem);
    grid-template-columns: repeat(auto-fit,minmax(43rem, 100%));
    justify-content: space-between;
}

.card-container {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
    margin: 2rem 0;
    border-radius: 15px;

    // max-width: 48rem;
    // width: 100%;
    // width:calc(50% - 2rem);
}

.card {
    background-color: #fff;
    border-radius: 15px;
    border-color: #e2e8f0;
    overflow: hidden;
}

.card-image {
    height: 260px;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1593412487189-7af5a431925d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-content {
    padding: 3rem 1.5rem;
}

.card-title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.45px;
    color: #2d3748;
}

p.card-text {
    font-size: 14px;
    line-height: 21px;

}

