
:root {
    --border-radius: 25px;
    --input-background-color: #f2f2f2;
    --color-brand: #5C34E8;;

    --color-body: rgb(51, 51, 51);
    --color-headings: #000;

    --font-main: -apple-system, helvetica neue, sans-serif;
    --font-headings: -apple-system, helvetica neue, sans-serif;
}