$border-radius: 25px;
$input-background-color: #f2f2f2;
$color-brand: #5c34e8;

$color-body: rgb(94, 94, 94);
$color-headings: rgb(241, 18, 134);
$font-line-height: 1.5;

$font-main: "Open Sans", arial, sans-serif;
$font-headings: "Special Elite", arial, serif;
/* --font-main: -apple-system, helvetica neue, sans-serif; */
